@font-face {
  font-family: Raleway;
  src: url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&family=Roboto+Mono&family=Shippori+Antique+B1&display=swap");
}

@font-face {
  font-family: AvenirHeavy;
  src: url("../assets/Fonts/Avenir/Avenir-Heavy-05.ttf");
}
@font-face {
  font-family: AvenirBook;
  src: url("../assets/Fonts/Avenir/Avenir-Heavy-05.ttf");
}
@font-face {
  font-family: AvenirLight;
  src: url("../assets/Fonts/Avenir/Avenir-Heavy-05.ttf");
}
@font-face {
  font-family: AvenirLightOblique;
  src: url("../assets/Fonts/Avenir/Avenir-LightOblique-08.ttf");
}
@font-face {
  font-family: AvenirMedium;
  src: url("../assets/Fonts/Avenir/Avenir-Medium-09.ttf");
}
@font-face {
  font-family: AvenirRoman;
  src: url("../assets/Fonts/Avenir/Avenir-Roman-12.ttf");
}
@font-face {
  font-family: Valencia;
  src: url("../assets/Fonts/Valencia/Valencia.ttf");
}
@font-face {
  font-family: Open-sans;
  src: url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");
}
