// COLOR PALETTE
$clr1: #ff521c;
$clr2: #000;
$clr3: #fff;
$clr4: darken($clr3, 40%);
$clr5: #2d2d2d;
$off-white: #f4f6f6;

// LAYOUT
$layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$screen-m: 800px;
$screen-l: 1260px;
$screen-xl: 1420px;
