.navbar-container {
  width: 100vw;
  background-color: $clr1;

  .navbar {
    & > * {
      height: 100%;
      display: flex;
      align-items: center;
    }
    .logo {
      flex: 1;
    }
    .nav-links {
      width: 50%;
      height: 100%;
      gap: 30px;
      justify-content: flex-end;
      @include for-mobile-layout {
        display: none;
      }
      li {
        height: 100%;
        display: flex;
        align-items: center;
        &:hover {
          box-shadow: 0px 3px 0px 0px $active-link-clr;
          cursor: pointer;
          color: $active-link-clr;
        }
      }
    }
    .hamburger-menu-icon {
      display: none;
      @include for-mobile-layout {
        fill: white;
        display: flex;
      }
    }
    & li {
      text-align: center;
      color: white;
    }
  }
}
