.navbar-container {
  width: 100vw;
  background-color: $clr1;

  nav {
    margin: auto;
    display: flex;
    .logo {
      align-self: flex-start;
      flex: 1;
      text-align: start;
    }
    .nav-links {
      display: flex;
      width: 50%;
      align-self: flex-end;
    }
    li {
      padding: rem(16px);
      text-align: center;
      color: white;
    }
  }
}
